<div class="container-fluid mt-5 ms-5">
    <div class="row justify-content-center">
        <div class="col-5 formulario">
            <h2 class="text-center">Login</h2>
            <form>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Email</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese su email">
                </div>
               
                <div class="mb-3">
                    <label for="contrase単a" class="form-label">Contrase単a</label>
                    <input type="password" class="form-control" id="contrase単a" placeholder="Ingrese su contrase単a">
                </div>
                <div class="mt-5 d-flex justify-content-center">
                    <button type="submit" class="boton_enviar">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
