<!-- Navbar -->
<nav class="menu navbar navbar-expand-lg navbar-light fondo_menu">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
      <img src="/chaplinlogo.png" alt="Logo" width="auto" height="60" class="d-inline-block align-text-top">
      
    </a>
        <div class="row w-100 align-items-center">
            <div class="col-3"></div>
            <h1 class="navbar-text col-6 d-flex justify-content-center text-light">Cine Chaplin</h1>
            <div class="col-3">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        {{#each botones}}
                            <li class="nav-link active nav-item">
                                <a class="nav-link text-light boton" aria-current="page" href="{{ruta}}">{{nombre}}</a>
                            </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>

<!--

<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/robot.jpeg" class="d-block w-10" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/circulo.jpeg" class="d-block w-10" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/sonrie2.jpg" class="d-block w-10" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
-->